ih8-jira:
  server: https://your_server.atlassian.net
  sections:
    - To Do
    - In Progress
    - Review
    - Blocked
    - Done
  team_query: "component in (one, two, three)"
  board_name: MyBoard
  project_key: TP